.container-index {
  margin-bottom: 20px;
}

.map {
  margin-top: 20px;
}

.index-header {
  margin: 20px;
}

.filter-container {
  height: 100px;
  margin-left: 35px;
}

.filter-dropdowns-container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
  margin-left: 100px;
}

.s_product_img .carousel {
  position: relative;
}

.single_product_menu h5 {
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 0;
}

.simple-search-form {

  width: 30%
}

