// Specific CSS for your home-page
.navbar-lewagon2 {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon2 .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon2 .navbar-brand img {
  width: 60px;
  padding: 0;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 0;
  height: 800px;
  position: relative;
  width: 100%;
}

.bg-transparent {
  width: 85%;
  margin: auto;


  display: flex;
  justify-content: space-between;
}

.buttons-bundle {
  // position: absolute;
  // top: 500px;
  margin: auto;
  margin-bottom: 150px;
  // padding-top: 50px;
  display: flex;
  // flex-direction: column;
  justify-content: center;
  width: 850px;
    p {
      color: white;
    }
}

.button-flat {
padding: 30px;
}
