// Specific CSS for your home-page
.navbar-lewagon2 {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon2 .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon2 .navbar-brand img {
  width: 60px;
  padding: 0;
}

.banner {
  background-size: cover;
  background-position: center;
   height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 0;
  p {
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 3px;
    opacity: 0.9;
  }
}

.bg-transparent {
  width: 85%;
  margin: auto;


  display: flex;
  justify-content: space-between;
}

.buttons-bundle {
  // position: absolute;
  // top: 500px;
  margin: auto;
  margin-bottom: 150px;
  // padding-top: 50px;
  display: flex;
  // flex-direction: column;
  justify-content: center;
    p {
      color: white;
    }
}

@media only screen and (max-width: 600px) {
 .buttons-bundle {
  flex-direction: column;
 }
}

.button-flat {
padding: 30px;
}
