<h1>Booking Overwiew</h1>

<p>
  <span id="banner-typed-text"></span>
</p>

<!-- CARDS -->
<div id="card-countainer">
  <% @bookings.each do |booking| %>
    <div class="frame">
        <div class="bookingdates">
        <h3>Rental Date</h3>
         <%= booking.rental_date %>
         <h3>Return Date</h3>
         <strong><%= booking.return_date %></strong>
        </div>

         <div class="camera-price">
         <p>Total Price</p>
         <%= booking.service_fee%><p>% $</p>
         <%= booking.total_price %><p>$</p>
        </div>
    </div>
  <% end %>
</div>
