<div class="footer-container mt-5">
  <div class="container" style="width: 800px">
    <div class="row">
      <!-- information start -->
        <div class="col-sm-4 footer-side text-center">
          <div style="margin-top: 12px">
            <h4>Information</h4>
          </div>
          <div class="name-logo-container">
            <div class="names-container">
              <div class="footer-text text-center">
                <p>About</p>
                <p>Contact<p>
                <p>Terms and Conditions<p>
                <p>Site Map<p>
              </div>
            </div>
          </div>
        </div>
      <!-- information end -->
      <!-- social links start -->
        <div class="col-sm-4 footer-side align-middle">
          <div class="logo-section">
            <div class="footer-links">
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
          </div>
       </div>
      <!-- social links end -->
      <!-- colloborators start -->
        <div class="col-sm-4 footer-side text-center">
          <div style="margin-top: 12px">
            <h4>Colloborators</h4>
          </div>
          <div class="name-logo-container text-justify">
            <!-- names start -->
              <div class="names-container">
                <div class="footer-text">
                  <p>Polina Drykova</p>
                  <p>Eric Reale<p>
                  <p>Sacha Mestdagh</p>
                  <p>Sebastian Langer</p>
                </div>
              </div>
            <!-- names end -->
            <!-- links start -->
              <div class="github-logo-container">
                <p><a class="footer-link-size" href="#"><i class="fab fa-github"></i></a></p>
                <p><a class="footer-link-size" href="#"><i class="fab fa-github"></i></a></p>
                <p><a class="footer-link-size" href="#"><i class="fab fa-github"></i></a></p>
                <p><a class="footer-link-size" href="#"><i class="fab fa-github"></i></a></p>
              </div>
            <!-- links end -->
          </div>
        </div>
      <!-- colloborators end -->
    </div>
  </div>
</div>
