
<h1>Bookings you have made</h1>
<% current_user.customer_bookings.each do |b|  %>
  <p><%=  b.camera.name %></p>
<% end %>

  <hr>

  <h1>Received Bookings</h1>
<% current_user.owner_bookings.each do |b|  %>
  <p><%=  b.camera.name %></p>
  <% end %>


