<div class="container my-5 " style="width: 500px;">
  <div class="row justify-content-center my-4">
    <img src="<%= asset_path '404 error.png' %>" style='width: 500px' alt="">
  </div>
 <div class="row justify-content-center" >
    <%=link_to image_tag('404 copy.png', width: '150px'), root_path %>
  </div>
  <div class="row justify-content-center mt-1">
    <img src="<%= asset_path '404 copy 2.png' %>" style='width: 500px' alt="">
  </div>
  <div class="row justify-content-center">
    <%=link_to image_tag('404 copy 3.png', width: '320px'), root_path %>
  </div>
</div>
