#map {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 20px;
  position: sticky;
  top: 0;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  h2 {
    font-size: 14px;
  }
  p {
    font-size: 10px;
  }
  h1 {
    font-size: 20px;
  }
}
