/* ----- Variables ----- */
$color-primary: #4c4c4c;
$color-secondary: #a6a6a6;
$color-highlight: #ff3f40;

img{
    object-fit: cover;

}
/* ----- Product Section ----- */
.product {
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  margin: auto;
  padding: 2.5em 0;
  min-width: 600px;
  background-color: #f4f4f4;
  border-radius: 5px;
}

/* ----- Photo Section ----- */
.product__photo {
  position: relative;
  object-fit: auto;

}

.bookings-container{
  padding: 42px;
  margin-top: 20px;
  background-color: #a6a6a6;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 40;
  box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, 0.3);
  padding: 18px 10px;
}

.photo-container {
  object-fit: cover;
  background-color: white;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-rows: 1fr;
  width: 40;
  height: 900px;
  box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
}

.photo-album {
  padding: 0.7em 1em;
  border-radius: 0 0 6px 6px;
  background-color: #fff;
}

/* ----- Informations Section ----- */
.product__info {
  padding: 0.8em 0;
}

.title {
  h1 {
    display:flex;
    margin-bottom: 0.1em;
    color: $color-primary;
    font-size: 50px;
    font-weight: 900;
    justify-content: space-between;
  }

  span {
    font-size: 0.7em;
    color: $color-secondary;
  }
}

.price {
  margin: 0.5em 0;
  color: $color-highlight;
  font-size: 36px;

  span {
    padding-left: 0.15em;
    font-size: 36px;
  }
}

.category-list-p {
  font-size: 16px;

}

.description {
  clear: left;
  margin: 2em 0;

  span {
    padding: 20px;
  }
}


.buy--btn {
  background-color: #31d843;
  border: 2px solid #31d843;
  color: white;
  transition: 0.5s ease;
  padding: 8px 15px;
    &:hover {
      background-color: #6AD875;
      border: 2px solid #6AD875;
      color: white;

    }
}

.icons-show {
  text-decoration: none;
  color: #a6a6a6;
  &:hover {
      text-decoration: none;
      color:black;
    }
  i {
    font-size: 10px
    }
}

